.Finish {
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 150px;
    position: sticky;
    z-index: 10;
    top: 500px;
    left: 750px;
    cursor: pointer;
}
.ZoekSleutel {
    position: sticky;
    width: 50px;
    height: 40px;
    z-index: 20;
    cursor: pointer;
}
.AantalSleutels {
    position: absolute;
    left: 1340px;
    top: 580px;
    width:130px; 
    height:100px;
}
.AantalKeys {
    position: absolute;
    color: white;
    left: 1550px;
    top: 570px;
    font-size: 100px;
    font-family: 'Luckiest Guy', cursive;
}
.tijdding {
    position: absolute;
    color: white;
    font-size: 10em;
    top: 200px;
    left: 70px;
}