.Finish {
    background-color: black;
    width: 25px;
    height: 25px;
    position: sticky;
    z-index: 10;
    top: 100px;
    left: 250px;
    cursor: pointer;
}
.TijdDing {
    position: absolute;
    color: white;
    font-size: 10em;
    top: 200px;
    left: 70px;
}